---
---

/*
 *  Inspiring Online
 */

body, html {
	font-family: "ff-tisa-web-pro", sans-serif;
	padding: 0px;
	margin: 0px;
}

.header {
	font-family: "brandon-grotesque", sans-serif; /* TODO: Font stack */
	-webkit-font-smoothing: antialiased;

	h1 {
		position: relative;
		margin-top: 0px;
		font-size: 30px;
		text-align: left;
		display: inline-block;
	}
	p {
		margin-top: 0px;
		float: right;
		font-family: "brandon-grotesque", sans-serif;;
		font-size: 16px;
		font-style: italic;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

nav {
	-webkit-font-smoothing: antialiased;
	left: calc(50% - 470px);
	letter-spacing: 1px;
	font-style: italic;
	padding-top: 112px;
	text-align: right;
	position: fixed;
	font-size: 16px;
	line-height: 27px;

	a {
		transition: opacity 100ms ease;
		opacity: 0.5;

		&:hover {
			opacity: 0.7;
		}
	}

	ul {
		border-top: 1px solid #eee;
		padding-top: 10px;
		list-style: none;
		margin-top: 5px;
	}
}

hr {
    margin-bottom: 50px;
    background: none;
    height: 1px;
    border-bottom: 1px solid #eee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.post {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	max-width: 460px;
	font-size: 18px;
	margin: auto;
	margin-top: 5px;
	font-weight: 300;
	color: #222;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-top: 50px;

	// Padding for first post to align with nav.
	&:nth-child(2) {
		padding-top: 70px;
	}

	&.has-divider {
		border-bottom: 1px solid #eee;
	}

	h2 {
	    margin-bottom: 15px;
	    margin-top: 35px;
	    font-size: 20px;
	}

	img {
		max-width: 100%;
		border: 10px solid #ddd;
		box-sizing: border-box;
	}
}

.contributors {

	i {
		color: #999;
	}

	a {
		text-decoration: underline;
		color: #333;
	}

	h2 {
		border-bottom: 3px solid rgba(0,0,0,0.1);
		padding-bottom: 10px;
	}
}

.content a {
	color: #333;
	text-decoration: underline;
}

// Hide text before font loads
.wf-loading {
	visibility: hidden;
}
