---
---

/*
 *  Inspiring Online
 */

body, html {
    font-family: "ff-tisa-web-pro", sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    h1 {
        position: relative;
        margin-bottom: 20px;
        margin-top: 0px;
        font-size: 30px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    -webkit-font-smoothing: antialiased;
    left: calc(50% - 485px);
    letter-spacing: 1px;
    font-style: italic;
    padding-top: 112px;
    text-align: right;
    position: fixed;
    font-size: 16px;
    line-height: 27px;
    top: 3px;
    width: 180px;
    box-sizing: border-box;

    &.right {
        right: calc(50% - 485px);
        text-align: left;
        left: initial;

        ul {
            padding-left: 0px;
            padding-right: 40px;
        }
    }

    a {
        transition: opacity 100ms ease;
        opacity: 0.5;

        &:hover {
            opacity: 0.7;
        }
    }

    ul {
        border-top: 1px solid #eee;
        padding-top: 10px;
        list-style: none;
        margin-top: 5px;
    }
}

hr {
    margin-bottom: 50px;
    background: none;
    height: 1px;
    border-bottom: 1px solid #eee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.post {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    max-width: 460px;
    font-size: 18px;
    margin: auto;
    margin-top: 5px;
    font-weight: 300;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-top: 50px;

    // Padding for first post to align with nav.
    &:nth-child(2) {
        padding-top: 70px;
    }

    &.has-divider {
        border-bottom: 1px solid #eee;
    }

    // Last post in page doesn't need the bottom border
    &:last-of-type {
        border-bottom: 0px;
        padding-bottom: 20px;
    }

    h2 {
        margin-bottom: 15px;
        margin-top: 35px;
        font-size: 20px;
    }

    img {
        max-width: 100%;
        border: 10px solid #ddd;
        box-sizing: border-box;
    }
}

.pagination {
    max-width: 500px;
    font-size: 18px;
    margin: auto;
    margin-top: 5px;
    font-weight: 300;
    color: #888;
    padding: 20px 0;
    overflow: hidden;
    padding-bottom: 50px;

    .left, .right {
        transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
        font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #888;
        text-decoration: none;
        text-align: center;
        width: 112px;
        height: 36px;
        position: relative;
        opacity: 0.7;
        margin: auto 15px;

        a {
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0.1px;
            position: absolute;
            text-align: center;
            line-height: 36px;
            font-size: 16px;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        &:hover {
            border-color: #fff;
            background: #ccc;
            color: #fff;
        }
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.contributors {

    i {
        color: #999;
    }

    a {
        text-decoration: underline;
        color: #333;
    }

    h2 {
        border-bottom: 3px solid rgba(0,0,0,0.1);
        padding-bottom: 10px;
    }

    hr {
        margin: 1rem 0;
        border: 0;
        width: 100%;
        height: 3px;
        background: rgba(0,0,0,0.1);
    }
}

.content a {
    color: #333;
    text-decoration: underline;
}

// Hide text before font loads
.wf-loading {
    visibility: hidden;
}
