---
---

/*
 *  Inspiring Online
 */

body, html {
	font-family: "ff-tisa-web-pro", sans-serif;
	padding: 0px;
	margin: 0px;
}

.header {
	font-family: "brandon-grotesque"; /* TODO: Font stack */
	-webkit-font-smoothing: antialiased;

	h1 {
		position: relative;
		margin-bottom: 20px;
		margin-top: 0px;
		font-size: 30px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

nav {
	-webkit-font-smoothing: antialiased;
	left: calc(50% - 470px);
	letter-spacing: 1px;
	font-style: italic;
	padding-top: 112px;
	text-align: right;
	position: fixed;
	font-size: 16px;
	line-height: 27px;

	a {
		transition: opacity 100ms ease;
		opacity: 0.5;

		&:hover {
			opacity: 0.7;
		}
	}

	ul {
		border-top: 1px solid #eee;
		padding-top: 10px;
		list-style: none;
		margin-top: 5px;
	}
}

.post {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	max-width: 460px;
	font-size: 18px;
	margin: auto;
	margin-top: 5px;
	font-weight: 300;
	color: #222;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-top: 50px;

	&.has-divider {
		border-bottom: 1px solid #eee;
	}

	h2 {
		color: #000;
		margin-bottom: 20px;
		margin-top: 35px;
		font-size: 30px;
	}

	img {
		max-width: 100%;
	}
}

.content a {
	color: #333;
	text-decoration: underline;
}

// Hide text before font loads
.wf-loading {
	visibility: hidden;
}