---
---

/*
 *  Thought Engine CSS
 *  @author: Tim Holman (timothy.w.holman@gmail.com - @twholman);
 */

/* 
 *  Responsive CSS
 */

body, html {
	padding: 0px;
	margin: 0px;
}

header {
	font-family: "brandon-grotesque"; /* TODO: Font stack */
	-webkit-font-smoothing: antialiased;

	h1 {
		position: relative;
		margin-bottom: 50px;
		margin-top: 0px;
		font-size: 64px;
	}
}

.post {
	font-family: "ff-tisa-web-pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	max-width: 460px;
	font-size: 18px;
	margin: auto;
	margin-top: 45px;
	font-weight: 300;
	color: #222;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-top: 50px;

	h2 {
		color: #000;
		margin-bottom: 20px;
		margin-top: 35px;
		font-size: 30px;
	}
}