---
---

/**
 *  Inspiring Online
 */

* {
  box-sizing: border-box;
}

html, body {
  font-family: monospace;
  padding: 0px;
  margin: 0px;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}

/**
 *  Inspiring Online
 */

.content-wrapper {
  padding: 30px;
}

.tile-grid {
  margin: 0 auto;
}

.tile {
  max-width: 250px;
  padding: 15px;
  margin: 15px;

  box-shadow: 9px 9px black;
  border: 3px solid #000;
  margin-bottom: 30px;
  transition-property: all !important;
}

header {
  background: #000;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.noscript {
  margin: auto;
  max-width: 500px;
}

.title-tile {
  max-width: 250px;
  padding: 15px;
  border: 5px solid #fff;
  box-shadow: 9px 9px #fff;
  margin: auto;

  a {
    color: #f9f9f9;
  }
}

h1 {
  font-size: 20px;
  margin-bottom: 8px;
}

h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

a {
  color: #333;

  &.title-anchor {
    // text-decoration: none;
  }
}

ul {
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
}

li {
  margin-bottom: 4px;

  &:before {
    content: "- ";
  }
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.loader {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 10px;

  .loader-bar {
    width: 0px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background: black;
  }

  &.loading {
    .loader-bar {
      transition: width 800ms ease-out;
      width: calc(100vw - 10px)
    }
  }
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: 70px;
  margin-bottom: 45px;
}
