---
layout: base
---

{% for post in paginator.posts %}
    <article class="post has-divider">

        <a class="header" href="{{ post.url }}">
            <h1>
                {{ post.title }}
            </h1>
        </a>

        {% if post.image %}
            <a href="{{ post.url }}">
                <img src="/assets/post-images/{{ post.image }}" alt="{{ post.title }}"/>
            </a>
        {% endif %}

        {% if post.video-id %}
            <iframe width="100%" height="280" src="https://www.youtube.com/embed/{{ post.video-id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}

        <section class="content">
            {{ post.content }}
        </section>

    </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}