<noscript>
  <style>header{display:none;}</style>
  <div class="tile noscript">
    <h1>Inspiring Online</h1>
    <h2>It looks like you don't have JavaScript enabled.</h2>
    <ul>
      <li>Nearly everything on this site requires it.</li>
      <li>So you should turn JavaScript on if you want to see anymore content.</li>
      <li>If you're sure that you have JavaScript turned on and this still shows up, report a bug here: <a href="https://github.com/tholman/inspiring-online/issues/new" target="_blank">New Issue</a></li>
    </ul>
  </div>
</noscript>
