<article class="post has-divider">

    <div class="header">
        <h1>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>

        {% if post.author %}
            <p>{{ post.author }}</p>
        {% endif %}

        {% if page.homepage %}
          <a class="category-list" id="title-{{ post.type | replace: ' ', '-' | downcase }}" href="{{ site.baseurl }}categories/{{ post.type | replace: ' ', '-' | downcase }}">
            <h3>{{ post.type }}</h3>
          </a>
        {% endif %}

    </div>

    {% if post.codepen-slug %}
    <a href="http://codepen.io/pen/{{ post.codepen-slug }}">
      <p data-height="268" data-theme-id="0" data-slug-hash="{{ post.codepen-slug }}" data-default-tab="result" data-preview="true" class="codepen"></p>
    </a>
    {% elsif post.youtube-id %}
      <div class="iframe-video">
        <iframe width="100%" src="https://www.youtube.com/embed/{{ post.youtube-id }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% elsif post.vimeo-id %}
      <div class="iframe-video">
        <iframe width="100%" src="https://player.vimeo.com/video/{{ post.vimeo-id }}?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
      </div>
    {% elsif post.image %}
        <a href="{{ post.url }}">
          {% if post.remoteImage %}
            <img src="{{ site.remoteAssetUrl }}assets/post-images/{{ post.image }}" alt="{{ post.title }}"/>
          {% else %}
            <img src="{{ site.baseurl }}assets/post-images/{{ post.image }}" alt="{{ post.title }}"/>
          {% endif %}
        </a>
    {% endif %}

    <section class="content">
        {{ post.content }}
    </section>

</article>
