* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: none;
  image-rendering: pixelated;
}

body:after {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(180deg, #afdfff, #ffb6da);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  transform: translateZ(0);
}

h1,
h2,
header {
  padding: 0px;
  margin: 0px;
}

code {
  background: #fafafa;
  padding: 3px 4px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

pre {
  line-height: 22px;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 10px;
  overflow-x: scroll;
}

pre code {
  background: none;
  border: none;
}

blockquote {
  border-left: 2px dotted blue;
  margin-left: 10px;
  padding-left: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.highlight pre code {
  padding: 0;
}

header {
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  top: 0;
  z-index: 2;
}

.category {
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 12px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-shadow: 1px 1px 0px black;
  color: white;
}

.icon img {
  max-width: 50px;
  padding-bottom: 6px;
}

.main-grid {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
}

.main-grid article {
  max-width: 360px;
  margin-left: 15px;
  margin-right: 15px;
}

article {
  background: #bfbfbf;
  border-color: #dfdfdf grey grey #dfdfdf;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.header {
  background: linear-gradient(90deg, hotpink, #54b2f0);
  color: white;
  padding: 3px 3px 3px 7px;
  font-size: 12px;
  border-bottom: 1px solid grey;
  font-weight: bold;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  padding: 0;
  font-size: 11px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  vertical-align: top;
}

.minimise span {
  position: absolute;
  bottom: 2px;
  width: 8px;
  left: 3px;
  height: 2px;
  background: black;
  transform: translateY(-0.5px);
}

.content {
  background: white;
  padding: 10px;
  border-top: 1px solid #e2e2e2;
  font-family: monospace;
  line-height: 18px;
  font-size: 15px;
}

.content h1 {
  line-height: 19px;
  font-size: 18px;
}

.article-wrap {
  position: relative;
  z-index: 1;
}

.content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 5px;
  z-index: -1;
  background-image: radial-gradient(black 10%, transparent 0),
    radial-gradient(black 10%, transparent 0);
  background-position: 0 0, 3px 2px;
  background-size: 6px 6px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
}

.content img {
  width: 100%;
}

article {
  max-width: 450px;
}

.meta {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 2px;
  text-transform: lowercase;
  display: flex;
  background: #eee;
  color: #333;
}

.item {
  border-right: 1px solid #ddd;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.2px;
}

a.item {
  color: #333;
}

.item:last-child {
  border-right: 0;
}

.secondary-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-set article:first-child {
  margin-top: 25px;
}

.secondary-set article {
  margin-top: 20px;
}

.secondary-set article:nth-child(odd) {
  transform: translateX(calc(-25% + 10px));
}

.secondary-set article:nth-child(even) {
  transform: translateX(calc(25% - 10px));
}

.single-item {
  display: flex;
  justify-content: center;
  alignment-baseline: center;
  padding: 20px;
}

@media only screen and (max-width: 700px) {
}
