<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }} | {{ $.Site.Title }}</title>

    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
    <link rel="mask-icon" href="safari-tab-icon.svg" color="#000000">
    <meta name="description" content="A simple blog for inspiring and creative online (and occasionally offline) work.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>

    {{ partial "header.html" . }}
    <div class="wrapper">
      <article>
        <div class="inner-wrapper">
          <h1>{{ .Title }}</h1>
           <div class="category"><a class="{{ anchorize .Params.Category }}" href="{{ anchorize .Params.Category | absURL }}">{{ .Params.Category }}</a></div>
          {{ .Content }}
        </div>
        {{ if .Truncated }}
          <canvas class="canvas-effect" width="50vw" height="50vw" data-category="{{ anchorize .Params.Category }}"></canvas>
        {{ end }}
        <div class="zigzag slide-up"></div>
        <div class="other-links">
          - See an error? More to add? <a href="https://github.com/tholman/inspiring-online/blob/master/content/{{.File.Path}}" target="_blank">Edit & submit a PR.</a><br>
          - Support me in the form of <a href="https://www.buymeacoffee.com/tholman" target="_blank">a coffee?</a> <!--or <a href="">Sponsor me on GitHub?</a>-->
        </div>
      </article>
    </div>

    <script src="/js/index.js"></script>
    {{ partial "analytics.html" . }}
  </body>
</html>
