<!doctype html>
<html>
	<head>
		<title>Inspiring Online</title>

		<!-- META -->
		<meta charset="utf-8">
		<!-- <meta name="author" content="Tim Holman" /> -->
		<!-- <meta name="description" content="" /> -->

		<link rel="icon" type="image/png" href="assets/favicon.png">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

		<!-- FONTS -->
		<script src="https://use.typekit.net/cen0ulf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- CSS -->
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% include menu.html %}
		{{content}}

		<!-- JS -->
        <script type="text/javascript" src="/js/inspiring-online.js"></script>
	</body>
</html>
