---
layout: compress
---
<!doctype html>
<html>
	<head>
		<title>Inspiring Online</title>

		<!-- META -->
		<meta charset="utf-8">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<link rel="mask-icon" href="safari-tab-icon.svg" color="#000000">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Tim Holman">
		<meta name="description" content="An open source blog for inspiring and creative online work!">
		<meta name="keywords" content="inspiring,online,inspiring online,open source,blog,creative,online,work">

		<!-- FONTS -->
		<script src="https://use.typekit.net/cen0ulf.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- CSS -->
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% include github-corner.html %}
		{% include menu.html %}
		{{content}}

		<!-- JS -->
		<script type="text/javascript" src="/js/inspiring-online.js"></script>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
	</body>
</html>
