---
layout: base
---

<article class="post">

    <a class="header" href="{{ page.url }}">
        <h1>
            {{ page.title }}
        </h1>
    </a>

    {% if page.image && page.link %}
        <a href="{{ page.link }}">
            <img src="/assets/post-images/{{ page.image }}" alt="{{ page.title }}"/>
        </a>
    {% endif %}

    {% if page.video-id %}
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/{{ page.video-id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    <section class="content">
        {{ content }}
    </section>

</article>